dist/
.temp/
.rn_temp/
node_modules/
.DS_Store
.idea
thinkphp
local.php
public/static/bundle
public/upload/
vendor
.env
composer.lock
yarn.lock
runtime/
public/uploads
[Tt]est.php
test/
.vscode/
/application/*/
/application/prod.php
/application/production.php
!application/extra/*
!application/manager/*
!application/common/*
public/**/

