<div class="am-form-group">
    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">存储根路径</label>
    <div class="am-u-sm-9 am-u-end">
        <input type="text" class="tpl-form-input" name="{$form_field}[base path]}" value="{$config['base path']}"/>
    </div>
</div>
<div class="am-form-group">
    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">文件权限</label>
    <div class="am-u-sm-9 am-u-end">
        <input type="text" class="tpl-form-input" name="{$form_field}[permissions][file]" value="{$config.permissions.file}"/>
    </div>
</div>

<div class="am-form-group">
    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">文件夹权限</label>
    <div class="am-u-sm-9 am-u-end">
        <input type="text" class="tpl-form-input" name="{$form_field}[permissions][dir]" value="{$config.permissions.dir}"/>
    </div>
</div>
