<!-- 头部 -->
<header class="tpl-header">
    <!-- 右侧内容 -->
    <div class="tpl-header-fluid">
        <!-- 侧边切换 -->
        <div class="am-fl tpl-header-button switch-button">
            <i class="iconfont icon-menufold"></i>
        </div>
        <!-- 刷新页面 -->
        <div class="am-fl tpl-header-button refresh-button">
            <i class="iconfont icon-refresh"></i>
        </div>
        <!-- 其它功能-->
        <div class="am-fr tpl-header-navbar">
            <ul>
                <!-- 欢迎语 -->
                <li class="am-text-sm tpl-header-navbar-welcome">
                    <a href="{:url('backend.admin_renew')}">欢迎你，<span>管理员</span>
                    </a>
                </li>
                <!-- 退出 -->
                <li class="am-text-sm">
                    <a href="{:url('backend.logout')}">
                        <i class="iconfont icon-tuichu"></i> 退出
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>